<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pense bête</title>

</head>
<body>
    <h1>Pense bête</h1>
   
      <form action="/add" method="POST">
      <div>
        <label for="title">Je dois faire quoi? :</label>
        <input type="text" name="title" placeholder="Acheter du pain..."  >
        <button type="submit">Ajouter</button>
      </div>
    </form>

    {% for todo in todo_list%}
            <p> {{ todo.id }} | {{ todo.title }} </p>

            {% if todo.complete == False %}
                <span>En cours</span>
            {% else %}
              <span>terminé</span>
            {% endif %}

            <a href="/update/{{ todo.id }}">Mettre à jour</a>
            <a href="/delete/{{ todo.id }}">Supprimer</a>


    {% endfor %}
</body>
</html>